<div class="thread-chat-section">
    <div class="message-container">
        <img src="./assets/img/avatars/avatar6.png" alt="avatar">
        <div class="message-content">
            <div class="message-header">
                <span class="user-name">Noah Braun</span>
                <span class="time">14:25 Uhr</span>
            </div>
            <div class="message-main">
                <span>Welche Version ist aktuell von Angular?</span>
            </div>
        </div>
    </div>

    <div class="answer-divider">
        <span>2 Antworten</span>
        <img src="./assets/img/line.png" alt="line">
    </div>

</div>