<div class="select-password-container">
    <div class="header">
        <div class="back" [routerLink]="['/login']">
            <img src="./assets/img/icons/arrow-back.png" alt="arrow-back">
        </div>
        <span class="headline">Passwort zurücksetzen</span>
    </div>

    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
        <div class="input-container">
            <input formControlName="password" type="password" placeholder="Neues Passwort">
        </div>
        <div class="input-container">
            <input formControlName="repeatPassword" type="password" placeholder="Neues Kennwort bestätigen">
        </div>
        <button class="change-password-btn" type="submit">Passwort ändern</button>
    </form>
</div>
