.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
    border-radius: 30px;
    max-width: 606px;
    padding: 50px;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;


    span {
        font-size: 46px;
        color: #444DF2;
        font-weight: 700;
    }

    p {
        font-size: 20px;
        text-align: center;
        margin: 0;
        line-height: 120%;
        word-wrap: normal;
    }
}

form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.input-container {
    width: 100%;
    position: relative;
    box-sizing: border-box;

    .email-icon {
        position: absolute;
        left: 24px;
        top: 18px;
    }

    .lock-icon {
        position: absolute;
        left: 24px;
        top: 18px;
    }

    input {
        font-size: 18px;
        padding-left: 60px;
        border: 1px solid transparent;
        transition: 200ms;
        box-sizing: border-box;
        outline: none;
        width: 100%;
        height: 60px;
        background: #ECEEFE;
        border-radius: 100px;


        &:hover {
            cursor: pointer;
            border: 1px solid #686868;
        }

        &:focus {
            border: 1px solid #535AF1;
        }

        &:focus::placeholder {
            color: transparent;
        }
    }

    .error {
        color: red;
        margin-left: 15px;
        position: absolute;
        top: 63px;
        left: 0px;
    }
}


.forgot-password {
    transition: 150ms;
    background-color: transparent;
    border-radius: 30px;
    width: 201px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #797EF3;
    font-size: 18px;

    &:hover {
        cursor: pointer;
        background-color: #ECEEFE;
        transform: scale(1.05);
    }
}


.or-container {
    font-size: 18px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 16px;

    img {
        height: 1px;
        width: 200px;
    }
}


.google-login {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    padding: 11px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid transparent;
    transition: 150ms;
    border-radius: 100px;
    background-color: #ECEEFE;
    cursor: pointer;


    span {
        font-size: 18px;
        color: #444DF2;
    }

    &:hover {
        border: 1px solid #535AF1;
        transform: scale(1.05);

        span {
            font-weight: 700;
        }
    }
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.login-btn {
    border-color: #444DF2;
    font-weight: 700;
    font-size: 18px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #444DF2;
    border-radius: 25px;
    border: 1px solid transparent;
    width: 137px;
    height: 49px;
    cursor: pointer;

    &:hover {
        background-color: #797EF3;
        border-color: #797EF3;
    }
}

.guest-login-btn {
    box-sizing: border-box;
    color: #444DF2;
    font-weight: 700;
    font-size: 18px;
    border: 1px solid #797EF3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    width: 137px;
    height: 49px;        
    cursor: pointer;

    &:hover {
        background-color: #444DF2;
        color: white;
    }
}


@media only screen and (max-width: 1200px) {
    .header {
        span {
            font-size: 42px;
        }

        p {
            font-size: 18px;
        }
    }

    form {
        gap: 25px;
        margin-top: 25px;
    }
}


@media only screen and (max-width: 1024px) {
    .header { 
        span {
            font-size: 38px;
        }

        p {
            font-size: 17px;
        }
    }

    .forgot-password {
        font-size: 17px;
    }

    .google-login {
        span {
            font-size: 17px;
        }
    }

    .button-container {
        .login-btn {
            font-size: 17px;
        }
        .guest-login-btn {
            font-size: 17px;
        }

    }
}


@media only screen and (max-width: 768px) {
    .login-container {
        padding: 35px 20px;
    }
}


@media only screen and (max-width: 650px) {
    .login-container {
        max-width: calc(100vw - 32px);
    }

    .input-container {
        max-width: calc(100vw - 72px);
    }

    .google-login {
        max-width: calc(100vw - 72px);
    }
}


@media only screen and (max-width: 480px) {
    header {
        span {
            font-size: 32px
        }

        p {
            font-size: 17px;
        }
    }

    .input-container {
        input {
            height: 50px;
            font-size: 17px;
        }

        .email-icon,
        .lock-icon {
            top: 13px;
        }
    }

    .google-login {
        height: 50px;
        text-align: center;
    }

    .button-container {
        gap: 15px;
    }
}


@media only screen and (max-width: 380px) {
    .button-container {
        gap: 10px;
        font-size: 16px;

        .login-btn,
        .guest-login-btn {
            height: 45px;
            width: 125px;
        }
    }
}
