<div class="channel-chat-container">
    <div class="channel-chat-header">
        <div class="header-left" (click)="openDialog()">
            <span *ngIf="channel && channel.length > 0; else noChannel"># {{ channel[0].name }}</span>
            <ng-template #noChannel>
                <span># Allgemein</span>
            </ng-template>
            <img src="./assets/img/icons/arrow-drop-down.png" alt="dropdown-icon">
        </div>

        <div class="header-right">
            <div class="channel-member" (click)="openMemberList()">
                @for (user of (channel[0].users | slice:0:3); track $index) {
                    <img src="./assets/img/avatars/avatar.png" alt="member-avatar">
                }
                <span *ngIf="channel[0].users; else noUsers" class="member-count">{{ channel[0].users.length }}</span>
                <ng-template #noUsers>
                    <span class="member-count">0</span>
                </ng-template>
            </div>
            <img class="add-member" src="./assets/img/icons/add-person-icon.png" alt="add-member-icon"
                (click)="memberInviteActive = true">
        </div>
    </div>

    <div class="chat-area">
        <app-chat-area></app-chat-area>
    </div>

    <div class="channel-textarea">
        <textarea [(ngModel)]="message" *ngIf="channel && channel.length > 0; else noChannelTextarea"
            placeholder="Nachricht an # {{ channel[0].name }}" cols="30" rows="3"></textarea>
        <ng-template #noChannelTextarea>
            <textarea [(ngModel)]="message" placeholder="Nachricht an # Allgemein" cols="30" rows="4"></textarea>
        </ng-template>
        <div class="thread-icons">
            <div class="icons-left">
                <label for="file-input"><img src="./assets/img/icons/add-icon-gray.png" alt="add-icon"></label>
                <input type="file" id="file-input" (change)="onFileSelected($event)">
                <div class="seperator"></div>
                <img src="./assets/img/icons/smiley-icon.png" alt="smiley-icon">
                <img src="./assets/img/icons/at-icon.png" alt="at-icon">
            </div>
            <div class="icons-right">
                <img src="./assets/img/icons/send-icon.png" alt="send-icon" (click)="sendMessage()">
            </div>
        </div>
    </div>

    <div class="overlay" *ngIf="memberInviteActive || memberListActive" (click)="closeMenus()"></div>

    <div class="member-list-menu" *ngIf="memberListActive">
        <div class="member-list-header">
            <span>Mitglieder</span>
            <img src="./assets/img/icons/close-icon.png" alt="close-icon" (click)="memberListActive = false">
        </div>
        <div>
            <div class="single-member">
                <img src="./assets/img/avatars/avatar5.png" alt="user-avatar">
                <span>Username</span>
            </div>
        </div>
        <div class="member-list-add-member" (click)="openInviteList()">
            <img src="./assets/img/icons/add-person-icon.png" alt="add-member-icon">
            <span>Mitglieder hinzufügen</span>
        </div>
    </div>



    <div class="invite-member-menu" *ngIf="memberInviteActive">
        <div class="invite-header">
            <div class="header-top">
                <span>Leute hinzufügen</span>
                <img src="./assets/img/icons/edit-icon.png" alt="close-icon">
            </div>
            <div class="header-bottom">
                <img src="./assets/img/icons/tag-blue-icon.png" alt="tag-icon">
                <span>Channelname</span>
            </div>
        </div>

        <div class="invite-input">
            <input [(ngModel)]="searchTerm" type="text" placeholder="Name eingeben" (input)="onSearch()">
        </div>

        <div class="search-menu" *ngIf="searchActive">
                <div class="single-user" *ngFor="let user of searchedUsers" (click)="addUserToChannel(user.id)">
                    <img class="single-user-avatar" 
                    [src]="user.profilepicture && user.profilepicture.startsWith('http') ? user.profilepicture : './assets/img/avatars/' + user.profilepicture + '.png'" 
                    alt="avatar">
                <span>{{ user.name }}</span>
            </div>
        </div>

        <div class="invite-user-list" *ngIf="userToAdd.length > 0">
            <div class="single-user" *ngFor="let user of userToAdd">
                <img class="single-user-avatar" 
                [src]="userService.getUserProfilePicture(user) && userService.getUserProfilePicture(user).startsWith('http') ? userService.getUserProfilePicture(user) : './assets/img/avatars/' + userService.getUserProfilePicture(user) + '.png'" 
                alt="avatar">
            <span>{{ userService.getUserName(user) }}</span>
            <img (click)="removeUser(user)" src="./assets/img/icons/close-icon.png" alt="close-icon">
            </div>
        </div>
        <button (click)="updateUsersOnChannel()" [class.enabled]="userToAdd.length > 0" [class.disabled]="userToAdd.length <= 0" [disabled]="userToAdd.length <= 0">Hinzufügen</button>
    </div>
</div>