<div class="select-password-section">
    <div class="arrow-back">
        <img src="./assets/img/icons/arrow-back.png" alt="arrow-back">
    </div>
    <span>Passwort zurücksetzen</span>

    <form>
        <div class="input-container">
            <input type="password" placeholder="Neues Passwort">
        </div>
        <div class="input-container">
            <input type="password" placeholder="Neues Kennwort bestätigen">
        </div>
        <button>Passwort ändern</button>
    </form>
</div>
