::-webkit-scrollbar {
    width: 1px !important;
}

.new-message-container {
    background-color: white;
    height: 100%;
    max-height: calc(100% - 70px);
    width: auto;
    padding: 32px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 30px;
    justify-content: space-between;

    @media only screen and (max-width: 1024px) {
        width: 100vw;
        height: 100%;
    }
}


.header {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    gap: 20px;
    padding: 10px 30px;


    span {
        font-size: 24px;
        font-weight: 700;
    }

    input {
        display: flex;
        padding: 15px 20px;
        align-items: flex-start;
        gap: 10px;
        align-self: stretch;
        border-radius: 30px;
        border: 1px solid #ADB0D9;
        outline: none;
        font-size: 18px;
        color: #686868;
    }
}




.new-message-textarea {
    align-self: center;
    border: 1px solid lightgray;
    border-radius: 20px;
    padding: 10px;
    height: 140px;
    width: calc(100% - 60px);
    margin: 0;
    position: relative;
    bottom: 0;
    box-sizing: border-box;
    flex: 0 0 auto;

    textarea {
        border: none;
        outline: none;
        resize: none;
        margin: 0;
        font-family: 'Nunito';
        font-size: 18px;
        color: #686868;
        width: 100%;
    }
}

.thread-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;

    img {
        height: 24px;
        width: 24px;
        cursor: pointer;
        padding-right: 2px;
        padding-left: 2px;
    }
}

.icons-right {
    padding-right: 24px;

    img {
        height: 24px;
        width: 24px;
        cursor: pointer;
    }
}

.icons-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;

    img {
        height: 24px;
        width: 24px;
        cursor: pointer;
        padding-right: 2px;
        padding-left: 2px;
    }
}

.seperator {
    color: #ADB0D9;
    position: relative;
    width: 0px;
    border: 1px solid #ADB0D9;
    height: 24px;
}


.search-output {
    max-height: 400px;
}


.channel-search-output {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-height: 339px;
    overflow-y: scroll;
    overflow-x: hidden;
    ::-webkit-scrollbar {
        width: 1px;
    }

    .single-channel-output {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        padding: 10px 20px;
        cursor: pointer;

        img {
            height: 40px;
            width: 40px;
            border-radius: 50%;
        }

        span {
            font-size: 18px;
            font-weight: 700;
        }
    
    }


}

.user-search-output {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-height: 339px;
    overflow-y: scroll;
    overflow-x: hidden;
    ::-webkit-scrollbar {
        width: 1px;
    }

    .single-user-output {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        padding: 10px 20px;
        cursor: pointer;

        img {
            height: 40px;
            width: 40px;
            border-radius: 50%;
        }

        span {
            font-size: 18px;
            font-weight: 700;
        }
    }
}

.user-mail-output {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-height: 339px;
    overflow-y: scroll;
    overflow-x: hidden;
    ::-webkit-scrollbar {
        width: 1px;
    }

    .single-mail-output {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        padding: 10px 20px;
        cursor: pointer;

        img {
            height: 40px;
            width: 40px;
            border-radius: 50%;
        }

        span {
            font-size: 18px;
            font-weight: 700;
        }
    }
}


.emoji-mart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}