<div class="new-message-container">
    <div class="header">
        <span>Neue Nachricht</span>
        <input type="text" placeholder="An: #channel, oder @jemanden oder E-Mail-Adresse">
    </div>

    


    <div class="new-message-textarea">
        <textarea
            placeholder="Starte eine neue Nachricht" cols="30" rows="3"></textarea>
        <div class="thread-icons">
            <div class="icons-left">
                <img src="./assets/img/icons/add-icon-gray.png" alt="add-icon">
                <div class="seperator"></div>
                <img src="./assets/img/icons/smiley-icon.png" alt="smiley-icon">
                <img src="./assets/img/icons/at-icon.png" alt="at-icon">
            </div>
            <div class="icons-right">
                <img src="./assets/img/icons/send-icon.png" alt="send-icon" (click)="sendMessage()">
            </div>
        </div>
    </div>
</div>