<div class="thread-container">
    <div class="thread-header">
        <div class="header-left">
            <span class="title">Thread</span>
            <span class="channel-name"># {{ channel[0].name }}</span>
        </div>
        <div class="header-right">
            <img src="./assets/img/icons/close-icon.png" alt="close-icon" (click)="closeThread()">
        </div>
    </div>
    <div class="thread-chatarea">
        <app-thread-chat></app-thread-chat>
    </div>
    <div class="textarea">
        <textarea placeholder="Antworten..." cols="30" rows="3"></textarea>
        <div class="iconbar">
            <div class="icons-left">
                <img src="./assets/img/icons/add-icon-gray.png" alt="add-icon">
                <div class="seperator"></div>
                <img src="./assets/img/icons/smiley-icon.png" alt="smiley-icon">
                <img src="./assets/img/icons/at-icon.png" alt="at-icon">
            </div>
            <div class="icons-right">
                <img src="./assets/img/icons/send-icon.png" alt="send-icon">
            </div>
        </div>
    </div>
</div>

