<div class="thread-section">
    <header>
        <div class="header-left">
            <span class="title">Thread</span>
            <img src="./assets/img/icons/tag-blue-icon.png" alt="tag-icon">
            <span class="channel-name">Entwicklerteam</span>
        </div>
        <div class="header-right">
            <img src="./assets/img/icons/close-icon.png" alt="close-icon">
        </div>
    </header>


    <app-thread-chat></app-thread-chat>

    <div class="textarea">
        <div class="write-message">
            <textarea placeholder="Nachricht an #Entwicklerteam"></textarea>
            <div class="textarea-icons">
                <div class="icons-left">
                    <div class="icon-container">
                        <img src="./assets/img/icons/add-icon-gray.png" alt="add-icon">
                    </div>
                    <img src="./assets/img/line-vertical.png" alt="vertical-line">
                    <div class="icon-container">
                        <img src="./assets/img/icons/smiley-icon.png" alt="smiley-icon">
                    </div>
                    <div class="icon-container">
                        <img src="./assets/img/icons/at-icon.png" alt="at-icon">
                    </div>
                </div>
                <div class="icons-right">
                    <img src="./assets/img/icons/send-icon.png" alt="send-icon">
                </div>
            </div>
        </div>
    </div>

</div>
