<div class="channel-chat-section">
    <header>
        <div class="channel-name">
            <img src="./assets/img/icons/tag-icon.png" alt="tag-icon">
            <span>Entwicklerteam</span>
            <img src="./assets/img/icons/arrow-drop-down.png" alt="dropdown-icon">
        </div>
        <div class="add-member">
            <img src="./assets/img/icons/add-person-icon.png" alt="add-member-icon">
        </div>
    </header>

    <app-chat-area></app-chat-area>

    <div class="textarea">
        <div class="write-message">
            <textarea placeholder="Nachricht an #Entwicklerteam"></textarea>
            <div class="textarea-icons">
                <div class="icons-left">
                    <div class="icon-container">
                        <img src="./assets/img/icons/add-icon-gray.png" alt="add-icon">
                    </div>
                    <img src="./assets/img/line-vertical.png" alt="vertical-line">
                    <div class="icon-container d-none">
                        <img src="./assets/img/icons/smiley-icon.png" alt="smiley-icon">
                        <div class="emoji-picker">
                            <emoji-mart (emojiClick)="addEmoji($event)"></emoji-mart>
                        </div>
                    </div>
                    <div class="icon-container">
                        <img src="./assets/img/icons/at-icon.png" alt="at-icon">
                    </div>
                </div>
                <div class="icons-right">
                    <img src="./assets/img/icons/send-icon.png" alt="send-icon">
                </div>
            </div>
        </div>
    </div>
</div>