<div class="channel-chat-container">
    <div class="channel-chat-header">
        <div class="header-left">
            <span *ngIf="channel && channel.length > 0; else noChannel"># {{ channel[0].name }}</span>
            <ng-template #noChannel>
                <span># Allgemein</span>
            </ng-template>
            <img src="./assets/img/icons/arrow-drop-down.png" alt="dropdown-icon">
        </div>

        <div class="header-right">
            <div class="channel-member">
                <img src="./assets/img/avatars/avatar.png" alt="member-avatar">
                <img src="./assets/img/avatars/avatar.png" alt="member-avatar">
                <img src="./assets/img/avatars/avatar.png" alt="member-avatar">
                <span class="member-count">3</span>
            </div>
            <img class="add-member" src="./assets/img/icons/add-person-icon.png" alt="add-member-icon">
        </div>
    </div>

    <div class="chat-area">
        <app-chat-area></app-chat-area>
    </div>

    <div class="channel-textarea">
        <textarea [(ngModel)]="message" *ngIf="channel && channel.length > 0; else noChannelTextarea"
            placeholder="Nachricht an # {{ channel[0].name }}" cols="30" rows="3"></textarea>
        <ng-template #noChannelTextarea>
            <textarea [(ngModel)]="message" placeholder="Nachricht an # Allgemein" cols="30" rows="4"></textarea>
        </ng-template>
        <div class="thread-icons">
            <div class="icons-left">
                <img src="./assets/img/icons/add-icon-gray.png" alt="add-icon">
                <div class="seperator"></div>
                <img src="./assets/img/icons/smiley-icon.png" alt="smiley-icon">
                <img src="./assets/img/icons/at-icon.png" alt="at-icon">
            </div>
            <div class="icons-right">
                <img src="./assets/img/icons/send-icon.png" alt="send-icon" (click)="sendMessage()">
            </div>
        </div>
    </div>
</div>