<div class="direct-chat-area-container" [class.no-message-container]="!messagesAvailable">
    <div class="chat-area-wrapper" *ngIf="messagesAvailable; else noMessages">
        <div class="date-container">
            <div class="line"></div>
            <div class="date">
                <div class="date-border"></div>
                <span>Date</span>
            </div>
            <div class="line"></div>
        </div>

        <div class="message-wrapper">
            <div class="message-container">
                <ng-container>
                    <div class="message-container-right">
                        <div class="message-content-container">
                            <div class="message-header">
                                <span class="time">Time</span>
                                <span class="username">Sender</span>
                            </div>
                            <div class="message-content">
                                <span class="text">Message</span>
                            </div>
                        </div>
                        <div class="profile-img-container">
                            <img src="./assets/img/avatars/avatar6.png" alt="avatar">
                        </div>
                    </div>
                </ng-container>
                <ng-template #leftContainer>
                    <div class="message-container-left">
                        <div class="profile-img-container">
                            <img src="./assets/img/avatars/avatar6.png" alt="avatar">
                        </div>
                        <div class="message-content-container">
                            <div class="message-header">
                                <span class="username">Username</span>
                                <span class="time">Time</span>
                            </div>
                            <div class="message-content">
                                <span class="text">Message Content</span>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>


    <ng-template #noMessages>
        <div class="no-messages">
            <div class="no-message-header">
                <img src="./assets/img/avatars/avatar4.png" alt="user-avatar">
                <span>Sofia Mueller</span>
            </div>
            <span>Diese Unterhaltung findet nur zwischen <a>&#64;Sofia Mueller</a> und dir statt</span>
        </div>
    </ng-template>
</div>
