<div class="direct-chat-chatarea-container">

    <div class="direct-chat-chatarea-header">
        <div class="header">
            <img src="./assets/img/avatars/avatar1.png" alt="chatpartner-avatar">
            <span>Elisa Roth</span>
        </div>
    </div>


    <div class="chat-area">
        <app-direct-chat-chatarea></app-direct-chat-chatarea>
    </div>


    <div class="direct-chat-chatarea-textarea">
        <textarea
            placeholder="Nachricht an Elisa Roth" cols="30" rows="3"></textarea>
        <ng-template #noChannelTextarea>
            <textarea placeholder="Nachricht an # Allgemein" cols="30" rows="4"></textarea>
        </ng-template>
        <div class="thread-icons">
            <div class="icons-left">
                <img src="./assets/img/icons/add-icon-gray.png" alt="add-icon">
                <div class="seperator"></div>
                <img src="./assets/img/icons/smiley-icon.png" alt="smiley-icon">
                <img src="./assets/img/icons/at-icon.png" alt="at-icon">
            </div>
            <div class="icons-right">
                <img src="./assets/img/icons/send-icon.png" alt="send-icon">
            </div>
        </div>
    </div>

</div>
