::-webkit-scrollbar {
    width: 1px;
}

.direct-chat-area-container {
    padding: 60px 35px;
    max-height: 100%;
    height: 100%;
    line-height: 120%;

    @media only screen and (max-width: 1024px) {
        padding: 10px 16px;

    }
}

.first-message {
    display: flex;
    align-items: flex-end;
    padding: 0px 0px 30px 0px !important;
}

.date-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.line {
    flex-grow: 1;
    height: 1px;
    background-color: #ADB0D9;
}

.date {
    display: flex;
    align-items: center;
    font-size: 18px;

    span {
        padding: 5px 15px;
        background-color: white;
        border: 1px solid #ADB0D9;
        border-radius: 12px;
    }
}

.date-border {
    height: 1px;
    flex-grow: 1;
    background-color: #ccc;
}

.message-img {
    max-height: 200px;
    max-width: 200px;
    object-fit: contain;
}

.message-video {
    max-height: 200px;
    max-width: 200px;
    object-fit: contain;
}

.message-pdf {
    max-height: 200px;
    max-width: 200px;
    object-fit: contain;
}


.message-container-left {
    display: flex;
    padding: 10px 16px;
    align-items: start;
    position: relative;
    gap: 20px;

    &:hover {
        background-color: #ECEEFE;


        .message-overlay {
            display: flex;
        }
    }


    .message-overlay {
        position: absolute;
        right: 20px;
        display: none;
        align-items: center;
        justify-content: center;
        gap: 5px;
        padding: 3px 15px 3px 20px;
        background-color: white;
        border: 1px solid #ADB0D9;
        border-radius: 25px 25px 25px 0px;

        .overlay-div {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
            cursor: pointer;

            img {
                height: 24px;
                width: 24px;
            }

            ngx-emoji {
                height: 24px;
                width: 24px;
            }
        }
    }


    .profile-img-container {
        img {
            height: 50px;
            width: 50px;
            border-radius: 100px;
        }
    }

    .message-content-container {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: flex-start;

        .message-header {
            display: flex;
            align-items: center;
            gap: 20px;

            .username {
                font-weight: 700;
                font-size: 18px;
            }

            .time {
                font-size: 14px;
                color: #686868;
            }
        }


        .message-content {
            background-color: #ECEEFE;
            border-radius: 0px 30px 30px 30px;
            display: flex;
            padding: 15px;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
            align-self: stretch;

            .text {
                font-size: 17px;
                text-align: left;
                word-wrap: normal;
            }
        }
    }
}

.message-container-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    padding: 10px 16px 10px 50px;
    gap: 16px;
    align-items: flex-start;

    &:hover {
        background-color: #ECEEFE;


        .message-overlay {
            display: flex;
        }
    }

    .edit-menu {
        border-radius: 0px 30px 30px 30px;
        box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.20);
        background-color: white;
        font-size: 24px;
        font-weight: 600;
        position: absolute;
        left: 150px;
        top: 30px;
        padding: 10px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .message-overlay {
        position: absolute;
        left: 20px;
        padding: 3px 15px 3px 20px;
        gap: 5px;
        border-radius: 25px 25px 0px 25px;
        border: 1px solid #ADB0D9;
        background-color: white;
        display: none;
        align-items: center;
        justify-content: center;

        .overlay-div {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 4px;
            cursor: pointer;

            img {
                height: 24px;
                width: 24px;
            }

            ngx-emoji {
                height: 24px;
                width: 24px;
            }
        }
    }

    .profile-img-container {
        img {
            height: 50px;
            width: 50px;
            border-radius: 100px;
        }
    }

    .message-content-container {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .message-header {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 20px;

            .time {
                font-size: 14px;
                color: #686868;
            }

            .username {
                font-size: 18px;
                font-weight: 700;
            }
        }

        .message-content {
            display: flex;
            padding: 15px;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
            align-self: stretch;
            border-radius: 30px 0px 30px 30px;
            background-color: #797EF3;

            .text {
                color: white;
                font-size: 17px;
                word-wrap: normal;
            }
        }
    }
}


.no-messages {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: center;
    padding-left: 45px;

    span {
        font-size: 20px;
        color: #686868;
    }

    a {
        text-decoration: none;
        color: #535AF1;
        font-size: 20px;
    }

    .no-message-header {
        display: flex;
        justify-content: flex-start;
        gap: 25px;
        align-items: flex-end;

        img {
            width: 70px;
            height: 70px;
            border-radius: 100px;
        }

        span {
            font-size: 24px;

            font-weight: 700;
        }
    }

}