<div class="select-avatar-section">
    <div class="top-section">
        <div class="arrow-back">
            <img src="./assets/img/icons/arrow-back.png" alt="arrow-back">
        </div>
        <span>Wähle deinen<br>Avatar</span>
    </div>

    <div class="avatar-selection-container">
        <div class="blank-avatar">
            <img src="./assets/img/avatars/avatar.png">
        </div>
        <div class="avatar-selection">
            <span class="user-name">Frederik Beck</span>
            <span class="explanation">Wähle deinen avatar...</span>
            <div class="available-avatars">
                <img src="./assets/img/avatars/avatar1.png" alt="avatar1">
                <img src="./assets/img/avatars/avatar2.png" alt="avatar2">
                <img src="./assets/img/avatars/avatar3.png" alt="avatar3">
                <img src="./assets/img/avatars/avatar4.png" alt="avatar4">
                <img src="./assets/img/avatars/avatar5.png" alt="avatar5">
                <img src="./assets/img/avatars/avatar6.png" alt="avatar6">
            </div>
            <div class="upload-avatar">
                <span>Oder Lade ein</span>
                <button>Foto hoch</button>
            </div>
        </div>
    </div>

    <button>Weiter</button>
</div>