<div class="select-avatar-container">
    <div class="back">
        <img src="./assets/img/icons/arrow-back.png" alt="arrow-back">
    </div>
    <span class="headline">Wähle deinen Avatar</span>
    <div class="avatar-selection">
        <div class="selected-avatar">
            <img src="./assets/img/avatars/avatar.png">
        </div>
        <div class="avatar-selection-content">
            <span class="user-name">Max Mustermann</span>
            <span class="choose">Aus der Liste wählen</span>
            <div class="avatar-options">
                @for (avatar of avatarId; track $index) {
                    <div (click)="setSelectedAvatar(avatar)" class="avatar-to-select">
                        <img src="./assets/img/avatars/{{ avatar }}.png" alt="avatar-img">
                    </div>
                }
            </div>
        </div>
        <div class="upload-avatar">
            <span>eigenes Bild verwenden</span>
            <input class="file-input" type="file" placeholder="Datei hochladen">
            <div class="upload-avatar-btn" (change)="onFileSelected($event)">Datei hochladen</div>
        </div>
    </div>
    <button class="next-btn" (click)="submitSelectedAvatar()">Weiter</button>
</div>
