.select-avatar-container {
    box-sizing: border-box;
    width: 606px;
    height: min-content;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 50px;
    gap: 43px;
    position: relative;
}

.back {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 200ms;
    position: absolute;
    top: 45px;
    left: 25px;
    width: 40px;
    height: 40px;
}

.headline {
    font-size: 46px;
    font-weight: 700;
    line-height: 120%;
    color: #444DF2;
    text-align: center;
}

.avatar-selected {
    background-color: white !important;
}

.selected-avatar {
    display: flex;
    align-self: center;
    border-radius: 100px;
    background-color: #797EF3;
    border: 8px solid transparent;

    &:hover {
        border: 8px solid #ECEEFE;
        transform: scale(1.05);
    }

    img {
        width: 136px;
        height: 136px;
        border-radius: 100px;
    }
}

.avatar-selection {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.avatar-selection-content {
    display: flex;
    flex-direction: column;
}

.user-name {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
}

.choose {
    align-self: flex-start;
    font-size: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.avatar-options {
    display: flex;
    align-items: center;
    gap: 8px;

}

.avatar-to-select {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    cursor: pointer;

    &:hover {
        transform: scale(1.05);
    }

    img {
        height: 64px;
        width: 64px;
        object-fit: scale-down;
        border-radius: 100px;
    }
}

.upload-avatar {
    display: flex;
    align-items: center;
    gap: 24px;

    span {
        font-size: 20px;
    }


    .upload-avatar-btn {
        display: flex;
        padding: 12px 25px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        color: #797EF3;
        border: 1px solid #797EF3;
        cursor: pointer;
        border-radius: 25px;
        font-size: 18px;
        font-weight: 700;
        text-align: center;

        &:hover {
            background-color: #797EF3;
            color: white;
        }
    }
}

.next-btn {
    background-color: #444DF2;
    border: 1px solid transparent;
    display: flex;
    padding: 12px 25px;
    justify-content: center;
    align-self: flex-end;
    align-items: center;
    gap: 10px;
    border-radius: 25px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;

    &:hover {
        background-color: #797EF3;
    }
}

.disabled {
    background-color: grey;
    border: 1px solid transparent;
    display: flex;
    padding: 12px 25px;
    justify-content: center;
    align-self: flex-end;
    align-items: center;
    gap: 10px;
    border-radius: 25px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;

    &:hover {
        background-color: rgb(97, 97, 97);
    }
}

input[type="file"] {
    display: none;
}

.popup-container {
    background-color: #444DF2;
    border-radius: 30px 30px 0px 30px;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.20);
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5px;
    right: 20px;
    
    span {
        font-size: 24px;
        color: white;
        font-weight: 700;
    }
}

@media only screen and (max-width: 1200px) {
    .headline {
        font-size: 42px;
    }
}

@media only screen and (max-width: 1024px) {
    .headline {
        font-size: 38px;
    }
}

@media only screen and (max-width: 768px) {

    .next-btn,
    .upload-avatar-btn {
        font-size: 17px;
    }

    .select-avatar-container {
        padding: 35px 20px;
        gap: 20px;
    }

    .back {
        top: 35px;
        left: 25px;
    }
}

@media only screen and (max-width: 650px) {
    .select-avatar-container {
        max-width: calc(100vw - 32px);
    }

    .headline {
        font-size: 32px;
    }

    .avatar-to-select {
        img {
            width: 56px;
            height: 56px;
        }
    }

}

@media only screen and (max-width: 480px) {

    .selected-avatar {
        height: 88px;
        width: 88px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 88px;
            height: 88px;
        }
    }

    .back {
        top: 31px;
        left: 10px;
    }


    .avatar-to-select {
        gap: 4px;
        display: flex;
        justify-content: center;

        img {
            width: 48px;
            height: 48px;
        }
    }
}

@media only screen and (max-width: 440px) {
    .back {
        top: 32px;
        left: 4px;
    }
}


@media only screen and (max-width: 400px) {
    .headline {
        font-size: 30px;
    }

    .next-btn,
    .upload-avatar-btn {
        font-size: 16px;
    }

    .back {
        top: 30px;
        left: 0px;
    }
}

@media only screen and (max-width: 380px) {
    .user-name {
        font-size: 26px;
    }
}

@media only screen and (max-width: 350px) {}