<div class="imprint-section">
    <div class="arrow-back" [routerLink]="['/login']">
        <img src="./assets/img/icons/arrow-back.png" alt="arrow-back">
    </div>
    <div class="main">
        <span class="title">Impressum</span>
        <span class="owner">
            [Student Names List] <br>
            [Address of the DABubble operator - e.g. one of the students] <br>
            [Postcode and city]
        </span>
    </div>
    <div class="contact">
        <span class="title">Contact:</span>
        <span class="mail">Email: [Deine email]</span>
    </div>
</div>
