<header>
    <img class="logo" src="./assets/img/logo_top.png" alt="logo">
    <div class="search-bar">
        <input type="text" placeholder="Code learning durchsuchen">
        <img src="./assets/img/icons/search-icon.png" alt="search-icon">
    </div>
    <div class="user-container">
        <span>Frederik Beck</span>
        <img class="avatar" src="./assets/img/avatars/avatar1.png" alt="avatar">
        <img class="dropdown" src="./assets/img/icons/arrow-drop-down.png" alt="arrow-dropdown">
    </div>
</header>
