.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 20px 30px;
    gap: 20px;

    @media only screen and (max-width: 1024px) {
        padding: 15px 16px;
        background-color: #ECEEFE;
    }
}

.logo {
    margin-left: 20px;

    @media only screen and (max-width: 1024px) {
        margin-left: 0;

        height: 45px;
    }
}

.user-container {
    display: flex;
    align-items: center;
    position: relative;
    gap: 20px;

    .online-dot {
        height: 17px;
        width: 17px;
        position: absolute;
        right: 50px;
        top: 52px;
        border: 2px solid #ECEEFE;
        border-radius: 100px;
        background: #ECEEFE;

        @media only screen and (max-width: 1024px) {
            display: none;
        }
    }

    span {
        font-size: 32px;
        font-weight: 700;

        @media only screen and (max-width: 1024px) {
            display: none;
        }
    }

    .avatar {
        width: 70px;
        height: 70px;
        border-radius: 100px;

        @media only screen and (max-width: 1024px) {
            width: 50px;
            height: 50px;
        }
    }

    .dropdown {
        width: 30px;
        height: 30px;

        @media only screen and (max-width: 1024px) {
            display: none;
        }
    }
}

.search-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    padding: 17.5px 35px;
    border-radius: 42px;
    background-color: white;
    margin-left: 40px;
    cursor: pointer;

    @media only screen and (max-width: 1024px) {
        display: none;
    }

    input {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
        color: #686868;
        border: none;
        outline: none;
    }

    .search-icon {
        right: 40px;
        top: 14px;
    }
}

.user-menu {
    position: absolute;
    right: 25px;
    top: 100px;
    z-index: 999;
    background-color: white;
    border-radius: 30px 0px 30px 30px;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.20);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

    @media only screen and (max-width: 450px) {
        bottom: 0;
        left: 0;
        right: 0;
        height: 100px;
        border-radius: 0px;
    }

    .user-menu-option {
        padding: 10px 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        background-color: white;

        &:hover {
            background-color: #ECEEFE;


            span {
                color: #797EF3;
                ;
            }
        }

        span {
            font-size: 24px;
            font-weight: 600;
            cursor: pointer;
        }
    }
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 800;
}


.profile-menu {
    position: absolute;
    width: 420px;
    right: 25px;
    top: 100px;
    z-index: 999;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 45px;
    padding: 45px 40px;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.20);
    border-radius: 30px 0px 30px 30px;

    .profile-menu-header {
        justify-content: space-between;
        align-items: center;
        display: flex;

        span {
            font-size: 24px;
            font-weight: 700;
        }

        img {
            width: 24px;
            height: 24px;
            cursor: pointer;
        }
    }

    .profile-menu-img {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 200px;
            height: 200px;
            object-fit: fill;
            border-radius: 100px;
        }
    }

    .profile-menu-name {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .profile-menu-name-header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .profile-menu-name-username {
                font-size: 32px;
                font-weight: 700;
            }

            .profile-menu-name-edit {
                font-size: 18px;
                color: #535AF1;
                font-weight: 600;
                cursor: pointer;
            }
        }


        .profile-menu-name-footer {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 15px;

            img {
                width: 16px;
                height: 16px;
            }

            span {
                font-weight: 400;
                color: #92C83E;
                font-size: 20px;
            }
        }
    }

    .profile-menu-mail {
        display: flex;
        flex-direction: column;
        gap: 15px;


        .profile-menu-mail-header {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 20px;


            img {
                width: 30px;
                height: 30px;
            }

            span {
                font-weight: 700;
                font-size: 20px;
            }
        }

        .profile-menu-mail-footer {
            padding-left: 50px;
            font-weight: 500;
            font-size: 18px;
            color: #1381FF;
        }
    }
}

.edit-menu {
    position: absolute;
    right: 25px;
    top: 100px;
    z-index: 999;
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: white;
    width: 420px;
    gap: 45px;
    border-radius: 30px;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.20);

    .edit-menu-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
            font-weight: 700;
            font-size: 24px;
        }

        img {
            width: 40px;
            height: 40px;
            cursor: pointer;
        }
    }

    .edit-menu-userimage {
        display: flex;
        justify-content: center;
        align-items: center;


        img {
            object-fit: fill;
            width: 200px;
            height: 200px;
            border-radius: 100px;
        }
    }

    .edit-menu-inputs {
        display: flex;
        flex-direction: column;
        gap: 16px;


        .edit-input-container {
            display: flex;
            flex-direction: column;
            gap: 7px;

            input {
                padding: 15px 20px;
                border: 1px solid #ADB0D9;
                border-radius: 30px;
                display: flex;
                align-items: flex-start;
                gap: 10px;
                font-size: 18px;
                font-weight: 500;
                color: #686868;
            }


            .edit-input-header {
                display: flex;
                align-items: center;
                gap: 20px;

                img {
                    width: 30px;
                    height: 30px;
                }

                span {
                    font-size: 20px;
                    font-weight: 700;
                }


            }
        }
    }

    .edit-menu-button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;


        .cancel-btn {
            display: flex;
            padding: 12px 25px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 50px;
            border: 1px solid #797EF3;
            background-color: white;
            color: #797EF3;
            cursor: pointer;
            font-size: 18px;
            font-weight: 700;

            &:hover {
                background-color: #797EF3;
                color: white;
            }
        }

        .save-btn {
            display: flex;
            padding: 12px 25px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 50px;
            background-color: #444DF2;
            border: 1px solid transparent;
            color: white;
            cursor: pointer;
            font-size: 18px;
            font-weight: 700;

            &:hover {
                background-color: #797EF3;
            }
        }
    }
}

.hidden-search-container {
    display: flex;
    background-color: white;
    padding: 30px;
    flex-direction: column;
    position: absolute;
    border: 1px solid #ADB0D9;
    top: 75px;
    left: 26%;
    width: 550px;
    z-index: 2;
    max-height: 250px;
    overflow: scroll;
    border-radius: 30px;
}

.searched-user,
.searched-channel {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.singleUser,
.singleChannel {
    display: flex;
    align-items: center;
    gap: 15px;

    .user-image {
        height: 40px;
        width: 40px;
        border-radius: 100px;
    }

    span {
        font-size: 18px;
        font-weight: 700;
    }
}

.searched-channel-message {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

    .single-channel-message {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .single-channel-header {
            display: flex;
            align-items: center;
            gap: 10px;

            span {
                font-size: 20px;
                font-weight: 700;
            }
        }

        .single-channel-main {
            display: flex;
            align-items: center;
            padding: 4px;
        }

        .single-channel-user-section {
            display: flex;
            align-items: center;
            gap: 10px;

            img {
                height: 25px;
                width: 25px;
                border-radius: 100px;
            }

            span {
                font-size: 18px;
                font-weight: 500;
            }
        }

        .single-channel-content {
            display: flex;
            font-size: 18px;
            align-items: center;
            margin-left: 10px;
        }
    }
}


.searched-direct-message {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .single-direct-header {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
            height: 25px;
            width: 25px;
            border-radius: 100px;
        }

        span {
            font-size: 20px;
            font-weight: 700;
        }
    }

    .single-direct-content {
        display: flex;

        span {
            font-size: 16px;
            margin-left: 35px;
        }
    }
}

.workspace-header {
    display: flex;
    align-items: center;
    gap: 2px;


    .arrow-back {
        height: 25px;
        width: 25px;

    }

    .workspace-logo {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
            height: 50px;
            width: 50px;
        }

        span {
            font-size: 20px;
            font-weight: 700;
        }
    }
}