<div class="header">
    <div class="logo">
        <img class="logo" src="./assets/img/logo_top.png" alt="logo">
    </div>
    <div class="search-menu">
        <input type="text" placeholder="Code learning durchsuchen" [(ngModel)]="searchTerm" (input)="onSearch()">
        <img class="search-icon" src="./assets/img/icons/search-icon.png" alt="search-icon">
        <div class="hiddens-search-container" *ngIf="searchActive">
            <div *ngIf="searchedChannel" class="searched-channel">
                <div class="single-channel" *ngFor="let channel of searchedChannel" (click)="openChannel(channel.id)">
                    <span># {{ channel.name}}</span>
                </div>
            </div>

            <div *ngIf="searchedUser" class="searched-user">
                <div class="singleUser" *ngFor="let user of searchedUser" (click)="openUser(user.id)">
                    <img class="user-image" [src]="userService.getProfilePictureURL(user.id)" alt="avatar">
                    <span>&#64; {{ user.name }}</span>
                </div>
            </div>

            <div *ngIf="searchedChannelMessages" class="searched-channel-message">
                <div class="single-channel-message" *ngFor="let message of searchedChannelMessages">
                    <div class="single-channel-header">
                        <img src="./assets/img/icons/channel-icon.png" alt="channel-icon">
                        <span>{{ message.channel.name }}</span>
                    </div>
                    <span>{{ userService.getUserName(message.message.senderId) }}</span>
                    <div class="single-channel-content">
                        <span>{{ message.message.content }}</span>
                    </div>
                </div>
            </div>

            <div *ngIf="searchedDirectMessages" class="searched-direct-message">
                <div class="single-direct-message" *ngFor="let message of searchedDirectMessages">
                    <div class="single-direct-header">
                        <img class="avatar"
                            [src]="userService.getProfilePictureURL(message.senderId)"
                            alt="avatar">
                        <span>{{ userService.getUserName(message.senderId) }}</span>
                    </div>
                    <div class="single-direct-content">
                        <span>{{ message.content }}</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="user-container" *ngIf="currentUser[0]">
        <span *ngIf="currentUser !== undefined; else noName">{{ currentUser[0].name }}</span>
        <ng-template #noName>
            <span>Gast</span>
        </ng-template>
        <img *ngIf="currentUser !== undefined" class="avatar" [src]="userService.getProfilePictureURL(currentUser[0].id)" alt="avatar">
        <img class="online-dot" src="./assets/img/online-dot.png" alt="online-dot">
        <img (click)="userMenu = !userMenu" class="dropdown" src="./assets/img/icons/arrow-drop-down.png"
            alt="arrow-dropdown">
    </div>


    <div *ngIf="userMenu || profileMenu || editMenu" class="overlay" (click)="closeMenus()"></div>
    <div class="user-menu" *ngIf="userMenu">
        <div class="user-menu-option">
            <span (click)="openProfileMenu()">Profil</span>
        </div>
        <div class="user-menu-option">
            <span (click)="logout()">Abmelden</span>
        </div>
    </div>

    <div class="profile-menu" *ngIf="profileMenu">
        <div class="profile-menu-header">
            <span>Profil</span>
            <img (click)="closeProfileMenu()" src="./assets/img/icons/close-icon.png" alt="close-icon">
        </div>
        <div class="profile-menu-img" *ngIf="currentUser[0]">
            <img *ngIf="currentUser !== undefined" class="avatar"
                [src]="userService.getProfilePictureURL(currentUser[0].id)"
                alt="avatar">
        </div>
        <div class="profile-menu-name">
            <div class="profile-menu-name-header">
                <span class="profile-menu-name-username">{{ currentUser[0].name }}</span>
                <span (click)="openEditMenu()" class="profile-menu-name-edit">Bearbeiten</span>
            </div>
            <div class="profile-menu-name-footer">
                <img src="./assets/img/online-dot.png" alt="online-dot">
                <span>Aktiv</span>
            </div>
        </div>
        <div class="profile-menu-mail">
            <div class="profile-menu-mail-header">
                <img src="./assets/img/icons/mail-icon.png" alt="email-icon">
                <span>E-Mail-Adresse</span>
            </div>
            <span class="profile-menu-mail-footer">{{ currentUser[0].email }}</span>
        </div>
    </div>


    <div class="edit-menu" *ngIf="editMenu">
        <div class="edit-menu-header">
            <span>Dein Profil bearbeiten</span>
            <img (click)="closeEditMenu() " src="./assets/img/icons/close-icon.png" alt="close-icon">
        </div>
        <div class="edit-menu-userimage" *ngIf="currentUser[0]">
            <img *ngIf="currentUser !== undefined" class="avatar"
                [src]="userService.getProfilePictureURL(currentUser[0].id)"
                alt="avatar">
        </div>
        <div class="edit-menu-inputs">
            <div class="edit-input-container">
                <div class="edit-input-header">
                    <img src="./assets/img/icons/person-icon.png" alt="person-icon">
                    <span>Vollständiger Name</span>
                </div>
                <input [(ngModel)]="editedUserName" type="text" placeholder="{{ currentUser[0].name }}">
            </div>
            <div class="edit-input-container">
                <div class="edit-input-header">
                    <img src="./assets/img/icons/mail-icon.png" alt="person-icon">
                    <span>E-Mail-Adresse</span>
                </div>
                <input [(ngModel)]="editedUserMail" type="email" placeholder="{{ currentUser[0].email }}">
            </div>
        </div>
        <div class="edit-menu-button">
            <button (click)="closeEditMenu()" class="cancel-btn">Abbrechen</button>
            <button [disabled]="isEditing" (click)="saveChanges()" class="save-btn">Speichern</button>
        </div>
    </div>

</div>