<div class="select-avatar-section">
    <div class="arrow-back">
        <img src="./assets/img/icons/arrow-back.png" alt="arrow-back">
    </div>
    <span>Wähle deinen Avatar</span>

    <div class="avatar-selection">
        <img src="" alt="">
        <div>
            <span>Frederik Beck</span>
            <span>Wähle deinen avatar...</span>
            <div class="avaiable-avatars">
                Hier Avatare einfuegen
            </div>
            <div class="upload-avatar">
                <span>Oder Lade ein</span>
                <button>Foto hoch</button>
            </div>
        </div>
        <button>Weiter</button>
    </div>
</div>