<div class="login-section">
    <div class="header">
        <span class="title">Anmeldung</span>
        <span class="explanation">Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</span>
    </div>

    <form [formGroup]="loginForm">

        <div class="inputs">
            <div class="input-container">
                <img src="./assets/img/icons/mail-icon.png">
                <input type="text" placeholder="E-Mail-Adresse">
            </div>
    
            <div class="input-container">
                <img src="./assets/img/icons/lock-icon.png">
                <input type="text" placeholder="Passwort">
            </div>
        </div>

        <div class="forgot-password-container">
            <span [routerLink]="['/reset-password']">Passwort vergessen?</span>
        </div>

        <div class="or-container">
            <img src="./assets/img/line.png">
            <span>ODER</span>
            <img src="./assets/img/line.png">
        </div>

        <div class="google-container">
            <img src="./assets/img/icons/google-icon.png">
            <span>Anmelden mit Google</span>
        </div>
        <div class="login-container">
            <button class="login-btn">Anmelden</button>
            <button class="guest-btn">Gäste Login</button>
        </div>
    </form>
</div>