<div class="edit-channel-container">
    <div class="header">
        <div class="header-left">
            <img src="./assets/img/icons/tag-icon.png" alt="tag-icon">
            <span>{{ channel[0].name }}</span>
        </div>
        <div class="header-right" (click)="closeDialog()">
            <img src="./assets/img/icons/close-icon.png" alt="close-icon">
        </div>
    </div>
    <div class="channel-name">
        <div class="channel-name-header">
            <span class="name">Channel-Name</span>
            <span *ngIf="!channelNameEditActive" class="edit"  (click)="channelNameEditActive = true">Bearbeiten</span>
            <span *ngIf="channelNameEditActive" (click)="editChannelName()" class="save">Speichern</span>
        </div>
        <div class="channel-name-footer">
            <div *ngIf="!channelNameEditActive" class="edit-channel-name-container">
                <img src="./assets/img/icons/tag-icon.png" alt="tag-icon">
                <span>{{ channel[0].name }}</span>
            </div>
            <div *ngIf="channelNameEditActive" class="edit-channel-name-input">
                <img src="./assets/img/icons/tag-icon.png" alt="tag-icon">
                <input [(ngModel)]="name" type="text" placeholder="{{ channel[0].name }}">
            </div>
        </div>
    </div>
    <div class="channel-description">
        <div class="channel-description-header">
            <div class="channel-desription-header-title">
                <span class="name">Beschreibung</span>
                <span *ngIf="!channelDescriptionEditActive" class="edit" (click)="channelDescriptionEditActive = true">Bearbeiten</span>
                <span *ngIf="channelDescriptionEditActive" class="save" (click)="editChannelDescription()">Speichern</span>
            </div>

            <div class="channel-description-content">
                <span *ngIf="!channelDescriptionEditActive">{{ channel[0].description }}</span>
                <div *ngIf="channelDescriptionEditActive" class="edit-channel-description-input">
                    <input [(ngModel)]="description" type="text" placeholder="Dein Text hier">
                </div>
            </div>
        </div>

        <div class="seperator"></div>

        <div class="creator">
            <span class="created-from">Erstellt von</span>
            <span class="creator-name">{{ userService.getUserName(channel[0].creator) }}</span>
        </div>
    </div>
    <div class="leave-channel" (click)="leaveChannel()">Channel verlassen</div>
</div>