<div class="direct-chat-container">
    <div class="direct-chat-header">
        <img class="avatar"
            [src]="userService.getUserProfilePicture(sharedService.currentPartner) && userService.getUserProfilePicture(sharedService.currentPartner).startsWith('http') ? userService.getUserProfilePicture(sharedService.currentPartner) : './assets/img/avatars/' + userService.getUserProfilePicture(sharedService.currentPartner) + '.png'"
            alt="avatar">
        <span>{{ userService.getUserName(sharedService.currentPartner) }}</span>
    </div>

    <div class="chat-area">
        <app-direct-chat-chatarea></app-direct-chat-chatarea>
    </div>

    <div class="direct-chat-textarea">
        <textarea [(ngModel)]="message" placeholder="Nachricht an {{ userService.getUserName(sharedService.currentPartner) }}" cols="30" rows="3"></textarea>
        <div class="thread-icons">
            <div class="icons-left">
                <label for="file-input"><img src="./assets/img/icons/add-icon-gray.png" alt="add-icon"></label>
                <input type="file" id="file-input" (change)="onFileSelected($event)">
                <div class="seperator"></div>
                <img src="./assets/img/icons/smiley-icon.png" alt="smiley-icon">
                <img src="./assets/img/icons/at-icon.png" alt="at-icon">
            </div>
            <div class="icons-right" (click)="addMessageToChat()">
                <img src="./assets/img/icons/send-icon.png" alt="send-icon">
            </div>
        </div>
    </div>
</div>