<div class="direct-chat-container">
    <div class="direct-chat-header">
        <img src="./assets/img/avatars/avatar4.png" alt="avatar-icon">
        <span>Sofia Mueller</span>
    </div>

    <div class="chat-area">
        <app-direct-chat-chatarea></app-direct-chat-chatarea>
    </div>

    <div class="direct-chat-textarea">
        <textarea [(ngModel)]="message" placeholder="Nachricht an Sofia Mueller" cols="30" rows="3"></textarea>
        <div class="thread-icons">
            <div class="icons-left">
                <img src="./assets/img/icons/add-icon-gray.png" alt="add-icon">
                <div class="seperator"></div>
                <img src="./assets/img/icons/smiley-icon.png" alt="smiley-icon">
                <img src="./assets/img/icons/at-icon.png" alt="at-icon">
            </div>
            <div class="icons-right" (click)="addMessageToChat()">
                <img src="./assets/img/icons/send-icon.png" alt="send-icon">
            </div>
        </div>
    </div>
</div>