<div class="direct-chat-container">
    <div class="direct-chat-header">
        <img class="avatar"
            [src]="data.getProfilePictureURL(sharedService.currentPartner)"
            alt="avatar">
        <span>{{ data.getUserProperty(sharedService.currentPartner, 'name') }}</span>
    </div>

    <div class="chat-area" [class.first-message]="!data.currentChat[0]">
        <app-direct-chat-chatarea></app-direct-chat-chatarea>
    </div>

    <div class="direct-chat-textarea">
        <textarea [(ngModel)]="message" placeholder="Nachricht an {{ data.getUserProperty(sharedService.currentPartner, 'name') }}" cols="30" rows="3"></textarea>
        <div class="thread-icons">
            <div class="icons-left">
                <label for="file-input"><img src="./assets/img/icons/add-icon-gray.png" alt="add-icon"></label>
                <input type="file" id="file-input" (change)="onFileSelected($event)">
                <div class="seperator"></div>
                <img src="./assets/img/icons/smiley-icon.png" alt="smiley-icon">
                <img src="./assets/img/icons/at-icon.png" alt="at-icon">
            </div>
            <div class="icons-middle">
                <span>{{ selectedFileName }}</span>
            </div>
            <div class="icons-right" (click)="addMessageToChat()">
                <img src="./assets/img/icons/send-icon.png" alt="send-icon">
            </div>
        </div>
    </div>
</div>