.direct-chat-container {
    background-color: white;
    width: auto;
    padding: 32px 0px;
    display: flex;
    max-height: calc(100% - 70px);
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 30px;

    @media only screen and (max-width: 1024px) {
        padding: 0;
        width: 100dvw;
        max-height: none;
    }
}

.first-message {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.direct-chat-header {
    width: calc(100% - 60px);
    height: 100px;
    margin-top: -30px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    flex: 0 0 auto;
    gap: 15px;

    @media only screen and (max-width: 1024px) {
        margin: 0;
        height: auto;
        padding: 10px 16px;
    }
        
    

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: -30px;
        width: calc(100% + 60px);
        height: 20px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

    img {
        width: 50px;
        height: 50px;
        border-radius: 100px;
    }
    
    span {
        font-size: 24px;
        font-weight: 700;
    }
}



.chat-area {
    width: 100%;
    flex: 1 1 auto;
    overflow-y: auto;

}

app-direct-chat-chatarea {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 0;
    }

    scrollbar-width: thin;
    scrollbar-color: transparent transparent;


    @media only screen and (max-width: 1024px) {
        margin-top: 70px;
    }


}


.direct-chat-textarea {
    align-self: center;
    border: 1px solid lightgray;
    border-radius: 20px;
    padding: 10px;
    height: 140px;
    width: calc(100% - 60px);
    margin: 0;
    position: relative;
    bottom: 0;
    box-sizing: border-box;
    flex: 0 0 auto;

    @media only screen and (max-width: 1024px) {
        margin-bottom: 30px;
        margin-top: 10px;
    }

    textarea {
        border: none;
        outline: none;
        resize: none;
        margin: 0;
        font-family: 'Nunito';
        font-size: 18px;
        color: #686868;
        width: 100%;
    }
}

.thread-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;

    img {
        height: 24px;
        width: 24px;
        cursor: pointer;
        padding-right: 2px;
        padding-left: 2px;
    }
}

.icons-right {
    padding-right: 24px;

    img {
        height: 24px;
        width: 24px;
        cursor: pointer;
    }
}

.icons-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;

    img {
        height: 24px;
        width: 24px;
        cursor: pointer;
        padding-right: 2px;
        padding-left: 2px;
    }
}

.seperator {
    color: #ADB0D9;
    position: relative;
    width: 0px;
    border: 1px solid #ADB0D9;
    height: 24px;
}

input[type="file"] {
    display: none;
}

label {
    display: flex;
    align-items: center;
    justify-content: center;
}


.emoji-mart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
