<div class="reset-password-container">
    <div [routerLink]="['/login']" class="back">
        <img src="./assets/img/icons/arrow-back.png" alt="arrow-back">
    </div>
    <div class="header">
        <span class="headline">Passwort zurücksetzen</span>
        <span class="explanation">Bitte geben Sie Ihre E-Mail-Adresse ein.</span>
    </div>
    <form [formGroup]="myForm" (ngSubmit)="resetPassword()">
        <div class="input-container">
            <img src="./assets/img/icons/mail-icon.png" alt="mail-icon">
            <input formControlName="email" type="email" placeholder="E-Mail-Adresse">
        </div>
        <span>Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern können.</span>
        <button type="submit" class="send-mail-btn">E-Mail senden</button>
    </form>
</div>
