.mainpage-container {
    background-color: #ECEEFE;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden !important; 
}

main {
    display: flex;
    gap: 20px;
    max-height: calc(100% - 140px);
    width: calc(100% - 50px);


    app-sidebar {
        flex: 0 0 12%;
        margin-left: 35px;
    }
    .chats {
        flex: 1;
    }
    app-thread {
        flex: 0 0 12%;
    }
}

.workspace-menu {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    padding: 14px 23px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.20);
    border-radius: 0px 0px 30px 30px;
    bottom: 220px;
    left: -140px;
    transform: rotate(270deg);
    cursor: pointer;

    @media only screen and (max-width: 768px) {
        display: none;
    }

    &:hover {
        span {
            color: blue;
            transform: scale(1.02);
        }

        svg path {
            stroke: blue;
        }

        svg rect {
            stroke: blue;
        }

    }

    span {
        font-weight: 500;
        font-size: 20px;
    }

    svg {
        transform: rotate(90deg);
        width: 16px;
        height: 16px;
    }
}