.mainpage-container {
    background-color: #ECEEFE;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden !important;

    @media only screen and (max-width: 1024px) {
        width: 100%;
        background-color: white;
        overflow: auto !important;
    }

}

.desktop-main {
    display: flex;
    gap: 20px;
    max-height: calc(100% - 140px);
    flex-grow: 1;

    app-sidebar {
        flex: 0 0 12%;
        margin-left: 35px;
    }

    .chats {
        flex: 1;
    }

    app-thread {
        flex: 0 0 12%;

        @media only screen and (min-width: 1025px) and (max-width: 1280px) {
            flex: 1 1 auto;
        }
    }
}

.mobile-main {
    box-sizing: border-box;
    flex-grow: 1;
    display: flex;
    overflow: auto;
    gap: 0px;

    app-sidebar,
    app-thread,
    app-direct-chat,
    app-channel-chat,
    app-new-message {
        margin: 0;
        display: flex;
        flex-grow: 1;
    }
}

.flex-0 {
    flex: 0 !important;
}

.workspace-menu {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    padding: 14px 23px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.20);
    border-radius: 0px 0px 30px 30px;
    bottom: 220px;
    left: -140px;
    transform: rotate(270deg);
    cursor: pointer;

    @media only screen and (max-width: 1024px) {
        display: none;
    }

    &:hover {
        span {
            color: blue;
            transform: scale(1.02);
        }

        svg path {
            stroke: blue;
        }

        svg rect {
            stroke: blue;
        }

    }

    span {
        font-weight: 500;
        font-size: 20px;
    }

    svg {
        transform: rotate(90deg);
        width: 16px;
        height: 16px;
    }
}

