<div class="mainpage-container">
    <app-header></app-header>
    <main class="desktop-main" *ngIf="!sharedService.isMobile">
        <app-sidebar *ngIf="isSidebarOpen"></app-sidebar>
        <div class="chats">
            <app-channel-chat *ngIf="this.sharedService.channelChatActive"></app-channel-chat>
            <app-direct-chat *ngIf="this.sharedService.directChatActive"></app-direct-chat>
            <app-new-message *ngIf="this.sharedService.messageActive"></app-new-message>
        </div>
        <app-thread *ngIf="this.sharedService.threadActive"></app-thread>
    </main>

    <main class="mobile-main" *ngIf="sharedService.isMobile">
        <app-sidebar *ngIf="sharedService.activeComponent === 'sidebar'"></app-sidebar>
        <app-channel-chat *ngIf="sharedService.activeComponent === 'channel-chat'"></app-channel-chat>
        <app-direct-chat *ngIf="sharedService.activeComponent === 'direct-chat'"></app-direct-chat>
        <app-new-message *ngIf="sharedService.activeComponent === 'new-message'"></app-new-message>
        <app-thread *ngIf="sharedService.activeComponent === 'thread'"></app-thread>
    </main>



    <div *ngIf="!sharedService.isMobile" class="workspace-menu" (click)="isSidebarOpen = !isSidebarOpen">
        <span *ngIf="isSidebarOpen">Workspace-Menü schließen</span>
        <span *ngIf="!isSidebarOpen">Workspace-Menü öffnen</span>
        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="Group 2">
                <rect id="Rectangle 202" x="1" y="1" width="16" height="16" rx="1" stroke="black" stroke-width="2" />
                <path id="Vector 1" d="M6.71423 1V17" stroke="black" stroke-width="2" />
                <path id="Vector 2"
                    d="M12.4285 11.2857L10.4964 9.35354C10.3011 9.15828 10.3011 8.8417 10.4964 8.64644L12.4285 6.71428"
                    stroke="black" stroke-width="2" stroke-linecap="round" />
            </g>
        </svg>
    </div>
</div>