.sidebar-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    max-height: calc(100% - 180px);
    min-height: calc(100% - 180px);
    padding: 32px 30px;
    width: 306px;
    gap: 25px;
    border-radius: 30px;
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        display: none;
    }
}

.sidebar-header {
    display: flex;
    gap: 15px;
    align-items: center;
    width: 100%;

    span {
        font-size: 24px;
        font-weight: 700;
    }

    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 60px;
            width: 60px;
        }
    }

    .edit-container {
        display: flex;
        padding: 8px;
        justify-content: center;
        align-items: center;

        img {
            height: 24px;
            width: 24px;
        }
    }
}

.channel-container {
    width: 100%;
    gap: 25px;

    .channel-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 13px;


        .add-container {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 3px;

            img {
                width: 24px;
                height: 24px;
            }
        }

        .channel-header-start {
            display: flex;
            gap: 15px;
            align-items: center;
            justify-content: center;

            .dropdown-container {
                img {
                    width: 30px;
                    height: 30px;
                }
            }

            .channel-title-container {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;

                img {
                    width: 24px;
                    height: 24px;
                }

                span {
                    font-size: 20px;
                    font-weight: 700;
                }
            }
        }
    }
}

.available-channels {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-left: 25px;
    gap: 13px;


    .single-channel {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 4px 20px;

        img {
            width: 24px;
            height: 24px;
        }

        span {
            font-size: 18px;
            font-weight: 700;
        }
    }
}

.add-channel-container {
    display: flex;
    padding: 25px 10px 4px 45px;
    align-items: center;
    gap: 10px;

    img {
        width: 24px;
        height: 24px;
    }

    span {
        font-size: 18px;
    }
}


.direct-chat-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;


    .direct-chat-header {
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 5px 10px 5px 0px;

        .dropdown-container {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 30px;
                height: 30px;
            }
        }

        .title-container {
            display: flex;
            align-items: center;
            gap: 10px;

            img {
                width: 24px;
                height: 24px;
            }

            span {
                font-weight: 700;
                font-size: 20px;
            }
        }
    }
}

.available-chats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 13px;
    padding-left: 25px;

    .single-direct-chat {
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 4px 20px;


        img {
            width: 50px;
            height: 50px;
        }

        span {
            font-size: 18px;
        }
    }
}