<div class="sidebar-container">
    <div class="sidebar-header" *ngIf="!sharedService.isMobile">
        <div class="logo-container">
            <img src="./assets/img/workspace-logo.png" alt="workspace-logo">
        </div>
        <span>Code learning</span>
        <div class="edit-container" (click)="openNewMessage()">
            <img src="./assets/img/icons/edit-icon-black.png" alt="edit-icon">
        </div>
    </div>
    <div class="sidebar-header-mobile" *ngIf="sharedService.isMobile">
        <input type="text" placeholder="Gehe zu...">
        <img src="./assets/img/icons/search-icon.png" alt="search-icon">
    </div>

    <div class="channel-container">
        <div class="channel-header">
            <div class="channel-header-start">
                <div class="dropdown-container">
                    <img src="./assets/img/icons/arrow-drop-down.png">
                </div>
                <div class="channel-title-container">
                    <img src="./assets/img/icons/channel-icon.png" alt="channel-icon">
                    <span>Channels</span>
                </div>
            </div>
            <div class="add-container" (click)="openDialog()">
                <img src="./assets/img/icons/add-icon.png" alt="add-icon">
            </div>
        </div>

        <div class="available-channels">
            @for (channel of channels; track $index) {
            <div class="single-channel" (click)="selectChannel(channel.id)">
                <img src="./assets/img/icons/tag-icon.png" alt="tag-icon">
                <span>{{ channel.name }}</span>
            </div>
            }
        </div>

        <div class="add-channel-container" (click)="openDialog()">
            <img src="./assets/img/icons/add-cirrcle-icon.png" alt="add-icon">
            <span>Channel hinzufügen</span>
        </div>
    </div>

    <div class="direct-chat-container">
        <div class="direct-chat-header">
            <div class="dropdown-container">
                <img src="./assets/img/icons/arrow-drop-down.png" alt="drop-down-icon">
            </div>

            <div class="title-container">
                <img src="./assets/img/icons/direct-chat-icon.png" alt="direct-chat-icon">
                <span>Direktnachrichten</span>
            </div>
        </div>

        <div class="available-chats">
            @for (chat of chats; track $index) {
            <div class="single-direct-chat" (click)="openDirectChat(userService.getChatPartnerId(chat, user[0].id) || '', chat)">
                <img class="avatar" [src]="userService.getUserProfilePicture(userService.getChatPartnerId(chat, user[0].id) || '') &&
                userService.getUserProfilePicture(userService.getChatPartnerId(chat, user[0].id) || '').startsWith('http') ?
                userService.getUserProfilePicture(userService.getChatPartnerId(chat, user[0].id) || '') : 
                './assets/img/avatars/' + userService.getUserProfilePicture(userService.getChatPartnerId(chat, user[0].id) || '') + '.png'">
                <img class="online-dot" src="./assets/img/online-dot.png">
                <span>{{ userService.getUserName(userService.getChatPartnerId(chat, user[0].id) || '')}}</span>
            </div>
            }
        </div>
    </div>
</div>