<div class="chat-area-container">
    <div *ngIf="channel[0]?.messages; else noMessages">
        <div class="chat-area-wrapper" *ngFor="let key of this.sharedService.getKeys(formatedMessages)">
            <div class="date-container">
                <div class="line"></div>
                <div class="date">
                    <div class="date-border"></div>
                    <span>{{ key }}</span>
                </div>
                <div class="line"></div>
            </div>

            <div class="message-wrapper">
                <div class="message-container" *ngFor="let message of formatedMessages[key]">
                    <ng-container *ngIf="this.sharedService.getMessageAlignment(message.senderId); else leftContainer">
                        <div class="message-container-right">
                            <div class="message-content-container">
                                <div class="message-header">
                                    <span class="time">{{ message?.timestamp | date: 'HH:mm'}} Uhr</span>
                                    <span class="username">{{ this.userService.getUserName(message.senderId) }}</span>
                                </div>
                                <!-- <div class="message-overlay">
                                    <div><img src="./assets/img/emojis/checkmark.png" alt="checkmark-emoji"></div>
                                    <div><img src="./assets/img/emojis/raising_hands.png" alt="raising-hands-emoji"></div>
                                    <div><img src="./assets/img/icons/add-emoji-icon.png" alt="add-emoji"></div>
                                    <div><img src="./assets/img/icons/comment2-icon.png" alt="add-comment"></div>
                                    <div><img src="./assets/img/icons/three-point-icon.png" alt="edit-message"></div>
                                </div> -->
                                <div class="message-content">
                                    <span class="text">{{ message?.content }}</span>
                                    <img class="message-img" *ngIf="sharedService.isImage(message.fileUrl)"
                                        [src]="message.fileUrl" alt="{{ message.fileName }}" />
                                    <object class="message-pdf"
                                        *ngIf="sharedService.isPdf(message.fileUrl) && !sharedService.isImage(message.fileUrl)"
                                        [data]="sanitizer.bypassSecurityTrustResourceUrl(message.fileUrl)"
                                        type="application/pdf" width="300" height="200">
                                        <a [href]="sanitizer.bypassSecurityTrustResourceUrl(message.fileUrl)">{{
                                            message.fileName }}</a>
                                    </object>
                                    <video class="message-video"
                                        *ngIf="sharedService.isVideo(message.fileUrl) && !sharedService.isImage(message.fileUrl) && !sharedService.isPdf(message.fileUrl)"
                                        [src]="message.fileUrl" controls width="300" height="200">
                                    </video>
                                    <a [href]="sanitizer.bypassSecurityTrustResourceUrl(message.fileUrl)" target="_blank">Datei öffnen</a>
                                </div>
                                <div class="message-footer">
                                    <span (click)="openThread(message)" class="answers">{{ message.answers.length }}
                                        Antworten</span>
                                    <span class="last-answer">Letzte Antwort 14:56</span>
                                </div>
                            </div>
                            <div class="profile-img-container">
                                <img src="./assets/img/avatars/avatar6.png" alt="avatar">
                            </div>
                        </div>
                    </ng-container>
                    <ng-template #leftContainer>
                        <div class="message-container-left">
                            <div class="profile-img-container">
                                <img src="./assets/img/avatars/avatar6.png" alt="avatar">
                            </div>
                            <div class="message-content-container">
                                <div class="message-header">
                                    <span class="username">{{ this.userService.getUserName(message.senderId)}}</span>
                                    <span class="time">{{ message?.timestamp | date: 'HH:mm' }} Uhr</span>
                                </div>
                                <!-- <div class="message-overlay">
                                    <div><img src="./assets/img/emojis/checkmark.png" alt="checkmark-emoji"></div>
                                    <div><img src="./assets/img/emojis/raising_hands.png" alt="raising-hands-emoji"></div>
                                    <div><img src="./assets/img/icons/add-emoji-icon.png" alt="add-emoji"></div>
                                    <div><img src="./assets/img/icons/comment2-icon.png" alt="add-comment"></div>
                                </div> -->
                                <div class="message-content">
                                    <span class="text">{{ message?.content }}</span>
                                    <img class="message-image" *ngIf="sharedService.isImage(message.fileUrl)"
                                        [src]="message.fileUrl" />
                                    <object class="message-pdf"
                                        *ngIf="sharedService.isPdf(message.fileUrl) && !sharedService.isImage(message.fileUrl)"
                                        [data]="sanitizer.bypassSecurityTrustResourceUrl(message.fileUrl)"
                                        type="application/pdf" width="300" height="200">
                                        <a [href]="sanitizer.bypassSecurityTrustResourceUrl(message.fileUrl)">{{
                                            message.fileName }}</a>
                                    </object>
                                    <video class="message-video"
                                        *ngIf="sharedService.isVideo(message.fileUrl) && !sharedService.isImage(message.fileUrl) && !sharedService.isPdf(message.fileUrl)"
                                        [src]="message.fileUrl" controls width="300" height="200">
                                    </video>
                                    <a [href]="sanitizer.bypassSecurityTrustResourceUrl(message.fileUrl)" target="_blank">Datei öffnen</a>
                                </div>
                                <div class="message-footer">
                                    <span class="answers">{{ message.answers.length }} Antworten</span>
                                    <span class="last-answer">Letzte Antwort 14:56</span>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
    <ng-template #noMessages>
        <div *ngIf="channel[0]">
            <span># {{ channel[0].name }}</span>
            <span *ngIf="channel[0]">Dieser Channel wurde am Datumeinfuegen von {{
                userService.getUserName(channel[0].creator) }} erstellt. Das ist der Anfang des Channels # {{
                channel[0].name }}.</span>
        </div>
    </ng-template>
</div>