<main *ngFor="let entry of formatedMessages | keyvalue">
    <div class="date-container">
        <img src="./assets/img/line.png" alt="line">
        <div class="date">
            <span>{{ entry.key }}</span>
        </div>
        <img src="./assets/img/line.png" alt="line">
    </div>

    <div class="message-container" *ngFor="let message of entry.value">
        <ng-container *ngIf="this.sharedService.getMessageAlignment(message.senderId); else leftContainer">
            <div class="message-container-right">
                <div class="message-content-container">
                    <div class="message-header">
                        <span class="time">{{ message.timestamp | date: 'HH:mm'}} Uhr</span>
                        <span class="username">{{ message.senderId }}</span>
                    </div>
                    <div class="message-content">
                        <span class="text">{{ message.content }}</span>
                    </div>
                    <div class="message-footer">
                        <span class="answers">{{ message.answers.length }} Antworten</span>
                        <span class="last-answer">Letzte Antwort 14:56</span>
                    </div>
                </div>
                <div class="profile-img-container">
                    <img src="./assets/img/avatars/avatar6.png" alt="avatar">
                </div>
            </div>
        </ng-container>
        <ng-template #leftContainer>
            <div class="message-container-left">
                <div class="profile-img-container">
                    <img src="./assets/img/avatars/avatar6.png" alt="avatar">
                </div>
                <div class="message-content-container">
                    <div class="message-header">
                        <span class="username">{{ message.senderId }}</span>
                        <span class="time">{{ message.timestamp | date: 'HH:mm' }} Uhr</span>
                    </div>
                    <div class="message-content">
                        <span class="text">{{ message.content }}</span>
                    </div>
                    <div class="message-footer">
                        <span class="answers">{{ message.answers.length }} Antworten</span>
                        <span class="last-answer">Letzte Antwort 14:56</span>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
    

   
</main>