<main>
    <div class="date-container">
        <img src="./assets/img/line.png" alt="line">
        <div class="date">
            <span>Dienstag, 14 Januar</span>
        </div>
        <img src="./assets/img/line.png" alt="line">
    </div>

    <div class="message-container-left">
        <div class="profile-img-container">
            <img src="./assets/img/avatars/avatar6.png" alt="avatar">
        </div>
        <div class="message-content-container">
            <div class="message-header">
                <span class="username">Noah Brown</span>
                <span class="time">14:25 Uhr</span>
            </div>
            <div class="message-content">
                <span class="text">Welche Version ist aktuell von Angular?</span>
            </div>
            <div class="message-footer">
                <span class="answers">2 Antworten</span>
                <span class="last-answer">Letzte Antwort 14:56</span>
            </div>
        </div>
    </div>


    <div class="date-container">
        <img src="./assets/img/line.png" alt="line">
        <div class="date">
            <span>Heute</span>
        </div>
        <img src="./assets/img/line.png" alt="line">
    </div>

    <div class="message-container-right">
        <div class="message-content-container">
            <div class="message-header">
                <span class="time">14:25 Uhr</span>
                <span class="username">Noah Braun</span>
            </div>
            <div class="message-content">
                <span class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda ex non qui
                    inventore doloribus illum maxime nam nisi laboriosam libero suscipit, enim possimus, id incidunt
                    sint! Consequatur excepturi enim nulla.</span>
            </div>
            <div class="message-footer">
                <!-- <div class="emoji-container">
                    <img src="./assets/img/emojis/rocket.png" alt="emoji">
                    <span class="emoji-count">1</span>
                </div>
                <div class="emoji-container">
                    <img src="./assets/img/emojis/checkmark.png" alt="emoji">
                    <span class="emoji-count">1</span>
                </div>
                <div class="add-emoji">
                    <img src="./assets/img/icons/add-emoji-icon.png" alt="add-emoji-icon">
                </div> -->
            </div>
        </div>
        <div class="profile-img-container">
            <img src="./assets/img/avatars/avatar6.png" alt="avatar">
        </div>
    </div>
</main>